<section id="analyzerContent" class="container content-section">

    <div class="row">
        <div class="col-lg-12">
            <table>
                <tr>
                    <td class="info-text-title">
                        Project:
                    </td>
                    <td class="info-text">
                        {{ currentProject.name}}
                    </td>
                    <td class="info-text-title">
                        League:
                    </td>
                    <td class="info-text">
                        {{ currentProject.league}}
                    </td>
                    <td class="info-text-title">
                        Team:
                    </td>
                    <td class="info-text">
                        {{ currentProject.teams}}
                    </td>
                    <td class="info-text-title">
                        Date:
                    </td>
                    <td class="info-text">
                        {{ currentProject.gameDate}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
    <div style="position:fixed; top:100px; right:0px;">
        <canvas id="doughnut" class="chart chart-doughnut" data="eventGroupChart.data" labels="eventGroupChart.labels"></canvas>
    </div>
    
    <mf-video-player video-player-data="videoPlayer"></mf-video-player>
    
    <mf-event-tag-lines ng-model="videoPlayer.timer" event-groups="currentProject.eventGroups" video-duration="videoPlayer.videoPlaybackLength" event-tags-to-add="currentProject.addedTags" play-status="videoPlayer.status"></mf-event-tag-lines>
    
    <mf-event-tag-area event-group-data="currentProject.eventGroups"></mf-event-tag-area>

    <div class="modal fade" id="newProjectDetails" tabindex="-1" role="dialog" aria-labelledby="newProjectDetailsTitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="newProjectDetailsTitle">Enter New Project Details</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">Project Name:</span>
                            <input type="text" ng-model="newProject.name" class="form-control"/>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">League:</span>
                            <input type="text" ng-model="newProject.selectedLeague" class="form-control"></select>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Teams:</span>
                            <input type="text" ng-model="newProject.selectedTeams" class="form-control">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Game Date:</span>
                            <input type="date" ng-model="newProject.selectedGameDate" class="form-control"/>
                        </div>
                        <mf-autocomplete label="'Event Groups:'" search-data="newProject.eventGroupList" ng-model="newProject.selectedEventGroups"></mf-autocomplete>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" ng-click="returnToDashboard('newProjectDetails')">Back</button>
                    <button type="button" class="btn btn-primary" ng-click="createNewProject()">Create</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editProjectDetails" tabindex="-1" role="dialog" aria-labelledby="editProjectDetailsTitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="editProjectDetailsTitle">Edit Project Details</h4>
                </div>
                <div class="modal-body">
                    <table>
                        <tr>
                            <td>
                                Project Name:
                            </td>
                            <td>
                                <input type="text" ng-model="currentProjectConfiguration.name" disabled />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Category:
                            </td>
                            <td>
                                <select ng-model="editCurrentProject.selectedCategory" ng-options="c.name for c in user.categoryList"></select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Team:
                            </td>
                            <td>
                                <select ng-model="editCurrentProject.selectedTeam" ng-options="t.name for t in user.teamList"></select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Season:
                            </td>
                            <td>
                                <select ng-model="editCurrentProject.selectedSeason" ng-options="s.name for s in user.seasonList"></select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Game Date:
                            </td>
                            <td style="white-space: nowrap;">
                                <input class="gameDate" type="text" ng-model="editCurrentProject.selectedGameDate" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Default Tag Template:
                            </td>
                            <td>
                                <select ng-model="editCurrentProject.defaultTemplate" ng-options="t.name for t in user.tagTemplateList"></select>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <!--<button type="button" class="btn btn-primary" onclick="login()">Sign In</button>-->
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editTeamDetails" tabindex="-1" role="dialog" aria-labelledby="editTeamDetailsTitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="editTeamDetailsTitle">Edit Team Details</h4>
                </div>
                <div class="modal-body">
    <!--<div id="configureTeams" title="Configure Teams">-->
                    <p class="dialog-info-text">
                        Add/Remove Teams by using the table below:
                    </p>
                    <!--<team-list datalist="manageTeams.teamList" />-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <!--<button type="button" class="btn btn-primary" onclick="login()">Sign In</button>-->
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editSeasonDetails" tabindex="-1" role="dialog" aria-labelledby="editSeasonDetailsTitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="editSeasonDetailsTitle">Edit Season Details</h4>
                </div>
                <div class="modal-body">
    <!--<div id="configureSeasons" title="Configure Seasons">-->
                    <p class="dialog-info-text">
                        Add/Remove Seasons by using the table below:
                    </p>
                    <!--<season-list datalist="manageSeasons.seasonList" />-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <!--<button type="button" class="btn btn-primary" onclick="login()">Sign In</button>-->
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="createNewTag" tabindex="-1" role="dialog" aria-labelledby="createNewTagTitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="createNewTagTitle">Create New Tag</h4>
                </div>
                <div class="modal-body">
                    <p class="dialog-info-text">
                        Enter new tag name below:
                    </p>
                    <table>
                        <tr>
                            <td>Name:</td>
                            <td><input type="text" ng-model="manageTags.tagToAdd.name" /></td>
                        </tr>
                        <tr>
                            <td>Before:</td>
                            <td><input type="text" ng-model="manageTags.tagToAdd.before" /></td>
                        </tr>
                        <tr>
                            <td>After:</td>
                            <td><input type="text" ng-model="manageTags.tagToAdd.after" /></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <!--<button type="button" class="btn btn-primary">Sign In</button>-->
                </div>
            </div>
        </div>
    </div>

<!--         DIALOGS 
            <div id="createNewTemplate" title="Create New Template">
                        
                    </div>-->

<!--        <div id="confirmDeleteTemplate" title="Confirm Delete Template">

        </div>

        <div id="confirmDeleteTag" title="Confirm Delete Tag">

        </div>

        <div id="confirmDeleteCategory" title="Confirm Delete Category">

        </div>

        <div id="confirmDeleteTeam" title="Confirm Delete Team">

        </div>

        <div id="confirmDeleteSeason" title="Confirm Delete Season">

        </div>

        <div id="confirmDeleteProject" title="Confirm Delete Project">

        </div>-->

</section>